ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --min-height: 56px;
  }

  .rates-toolbar {
    --background: var(--ion-color-light);
    --color: var(--ion-text-color);

    ion-item {
      --background: transparent;
    }
  }
}

ion-tabs {
  height: 100%;
}
